PORT=4001
CURRENCY = "INR"
JWT_SECRET="lkjhgfsrhGTYFT76765"


MONGODB_URI = "mongodb://localhost:27017"

CLOUDINARY_NAME = "doibau4wq"
CLOUDINARY_API_KEY = "967215949286596"
CLOUDINARY_SECRET_KEY = "2m9br0Z4xjQBCE6Z0slKabqWZIY"


RAZORPAY_KEY_ID = "-----------"
RAZORPAY_KEY_SECRET ="-----------"


STRIPE_SECRET_KEY="-----------"